<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>

    <title>covid-19-stat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='png/covid-19.png') }}"  sizes="32x32">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='png/covid-19.png') }}" sizes="194x194">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='png/covid-19.png') }}"  sizes="96x96">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    

    <link rel="stylesheet" href="{{url_for('static', filename='lib/angular-ui-grid/ui-grid.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='lib/font-awesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='lib/nvd3/nv.d3.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='dist/cubesviewer.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap-submenu/css/bootstrap-submenu.css') }}" />

   <link rel="stylesheet" href="{{url_for('static', filename='css/cvapp.css') }}" />

    <script src="{{url_for('static', filename='lib/jquery/jquery.js') }}"></script>
    <script src="{{url_for('static', filename='lib/bootstrap/bootstrap.js') }}"></script>
    <script src="{{url_for('static', filename='lib/bootstrap-submenu/js/bootstrap-submenu.js') }}"></script>
    <script src="{{url_for('static', filename='lib/angular/angular.js') }}"></script>
    <script src="{{url_for('static', filename='lib/angular-cookies/angular-cookies.js') }}"></script>
    <script src="{{url_for('static', filename='lib/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{url_for('static', filename='lib/angular-ui-grid/ui-grid.js') }}"></script>
    <script src="{{url_for('static', filename='lib/d3/d3.js') }}"></script>
    <script src="{{url_for('static', filename='lib/nvd3/nv.d3.js') }}"></script>
    <script src="{{url_for('static', filename='lib/flotr2/flotr2.min.js') }}"></script>
    <script src="{{url_for('static', filename='lib/masonry/masonry.pkgd.min.js') }}"></script>
    <script src="{{url_for('static', filename='dist/cubesviewer.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    
</head>

<body>

<script type="text/javascript">

    // Initialize CubesViewer when document is ready
    $(document).ready(function() {

    	var cubesUrl = "api/";
        //var cubesUrl = "http://localhost:5000";

        cubesviewerStudio.init({
        	cubesUrl: cubesUrl,
            container: $('#cubesviewer').get(0),
            //debug: true
        });
        
        var global =  {
          "mode": "explore",
          "drilldown": [
            "statistic_taken_at"
          ],
          "cuts": [],
          "datefilters": [],
          "columnHide": {},
          "columnWidths": {},
          "columnSort": {},
          "cubename": "world_epidemic_country_data",
          "name": "Общие цифры в мире"
        }

        
        var sort_areas = 
          {
              "mode": "explore",
              "drilldown": [
                "country"
              ],
              "cuts": [],
              "datefilters": [],
              "columnHide": {
                "casetotal_sum": true,
                "newcase_sum": true,
                "newcure_sum": true,
                "newdeath_sum": true
              },
              "columnWidths": {},
              "columnSort": {
                "explore": {
                  "casetotal_max": {
                    "direction": "desc",
                    "priority": 0
                  }
                }
              },
              "cubename": "epidemic_country_data",
              "name": "Самые зараженные страны"
        }
        
        var plot_share = 
        {
              "charttype": "lines-stacked",
              "chartoptions": {
                "showLegend": true
              },
              "mode": "chart",
              "drilldown": [
                "type"
              ],
              "cuts": [
                   {
                  "dimension": "agg_type",
                  "value": "0",
                  "invert": null
                }
              ],
              "datefilters": [],
              "columnHide": {},
              "columnWidths": {},
              "columnSort": {},
              "cubename": "epidemic_country_data_pivot",
              "name": "Статистика излечившихся/умерших/активных",
              "xaxis": "date_balance@by_date:day",
              "yaxis": "value_sum",
              "chart-barsvertical-stacked": true,
              "chart-disabledseries": {
                "key": "type",
                "disabled": {
                  "ACTIVE CASES": false,
                  "ACTIVE CASES NEW": true,
                  "CASES TOTAL": true,
                  "DEATH CASES": false,
                  "DEATH CASES NEW": true,
                  "NEW CASES": true,
                  "RECOVER CASES": false,
                  "RECOVER CASES NEW": true
                }
              },
              "chart-stackedarea-style": "expand"
            }
       
        var plot_share_country =  {
              "charttype": "lines-stacked",
              "chartoptions": {
                "showLegend": true
              },
              "mode": "chart",
              "drilldown": [
                "type"
              ],
              "cuts": [
                {
                  "dimension": "country:country",
                  "value": "Russian Federation",
                  "invert": null
                },
                {
                  "dimension": "agg_type",
                  "value": "0",
                  "invert": null
                }  
              ],
              "datefilters": [],
              "columnHide": {},
              "columnWidths": {},
              "columnSort": {},
              "cubename": "epidemic_country_data_pivot",
              "name": "Статистика излечившихся/умерших/активных для определенной страны",
              "xaxis": "date_balance@by_date:day",
              "yaxis": "value_sum",
              "chart-barsvertical-stacked": true,
              "chart-disabledseries": {
                "key": "type",
                "disabled": {
                  "ACTIVE CASES": false,
                  "ACTIVE CASES NEW": true,
                  "CASES TOTAL": true,
                  "DEATH CASES": false,
                  "DEATH CASES NEW": true,
                  "NEW CASES": true,
                  "RECOVER CASES": false,
                  "RECOVER CASES NEW": true
                }
              },
              "chart-stackedarea-style": "expand"
            }
        
        var plot_daily_cases_country =  {
              "charttype": "lines",
              "chartoptions": {
                "showLegend": true
              },
              "mode": "chart",
              "drilldown": [
                "type"
              ],
              "cuts": [
                {
                  "dimension": "agg_type:agg_type",
                  "value": "1",
                  "invert": null
                },
                {
                  "dimension": "country:country",
                  "value": "Russian Federation",
                  "invert": null
                } 
              ],
              "datefilters": [],
              "columnHide": {},
              "columnWidths": {},
              "columnSort": {},
              "cubename": "epidemic_country_data_pivot",
              "name": "дневная статистика по странам",
              "xaxis": "date_balance@by_date:day",
              "yaxis": "value_sum",
              "chart-barsvertical-stacked": true,
              "chart-disabledseries": {
                "key": "type",
                "disabled": {
                  "CASES NEW": false,
                  "DEATH CASES NEW": false,
                  "RECOVER CASES NEW": false
                }
              }
            } 
        
        var plot_daily_cases =  {
              "charttype": "lines",
              "chartoptions": {
                "showLegend": true
              },
              "mode": "chart",
              "drilldown": [
                "type"
              ],
              "cuts": [
                {
                  "dimension": "agg_type:agg_type",
                  "value": "1",
                  "invert": null
                }
              ],
              "datefilters": [],
              "columnHide": {},
              "columnWidths": {},
              "columnSort": {},
              "cubename": "epidemic_country_data_pivot",
              "name": "дневная статистика",
              "xaxis": "date_balance@by_date:day",
              "yaxis": "value_sum",
              "chart-barsvertical-stacked": true,
              "chart-disabledseries": {
                "key": "type",
                "disabled": {
                  "CASES NEW": false,
                  "DEATH CASES NEW": false,
                  "RECOVER CASES NEW": false
                }
              }
            } 
        cubesviewer.apply(function() {
            var serialized0 = JSON.stringify(global);
            var serialized = JSON.stringify(sort_areas);
            var serialized1 = JSON.stringify(plot_share);
            var serialized2 = JSON.stringify(plot_share_country);
            var serialized3 = JSON.stringify(plot_daily_cases);
            var serialized4 = JSON.stringify(plot_daily_cases_country);
            var view0 = cubesviewerStudio.studioViewsService.addViewObject(serialized0);
            var view1 = cubesviewerStudio.studioViewsService.addViewObject(serialized);
            var view2 = cubesviewerStudio.studioViewsService.addViewObject(serialized1);
            var view3 = cubesviewerStudio.studioViewsService.addViewObject(serialized2);
            var view4 = cubesviewerStudio.studioViewsService.addViewObject(serialized3);
            var view5 = cubesviewerStudio.studioViewsService.addViewObject(serialized4);
            cubesviewerStudio.studioViewsService.studioScope.toggleTwoColumn();
            cubesviewerStudio.studioViewsService.studioScope.toggleHideControls();

      });
    
    
        
    });

</script>

<div>

    <div class="header">
        <div style="float: left;">
            <img class="cv-logo" title="Coronovirus cube statistics" src="{{url_for('static', filename='png/covid-19.png') }}" />
        </div>

        <h1 style="font-family:Open+Sans;color:red;font-size:4em font-weight:bolder">сovid-19 cube statistics</h1>
       
    </div>

    <div style="clear: both;"></div>


    <!-- Cubes Viewer container -->
    <div id="cubesviewer">
    </div>


    <div class="footer" style="clear: both; padding-top: 20px;">
    	<div style="height: 1px; border-top: 1px solid #DDDDDD; padding-top: 4px;"></div>

    </div>

</div>

</body>
</html>
