<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <!-- Month names -->

</head>

<body>
    <h1 style="text-align:center;font-family:dusha"> FANTASY AUTOMATION SYSTEM</h1>
    <table border="1" style="font-family:dusha">
        {% for key in res2 %}
        <tr>
            <th> {{ key["tournament"] }} </th>
            <td> {{ key["deadline"] }} </td>
            <td> {{ key["status"] }} </td>
            <td> {{ key["substitutions"] }} </td>
            <td> <a href="make_subs?tournament_id={{ key["tournament_id"] }}" class="button5" style="background-color:#42cc8c;">Сделать замены</a> </td>
            <td> <a href="show_line_up?tournament_id={{ key["tournament_id"] }}" class="button6" style="background-color:yellow;">Показать состав</a> </td>
        </tr>
        {% endfor %}
    </table>

    <h2 style="text-align:center;font-family:dusha">Статистика набранных очков</h2>
    <td> <a href="update_statistics" class="button5" style="background-color:yellow;">Обновить статистику</a> </td>
    <div class="row">
        {% for d in res2 %}
        <div class="column">
            <img src="/static/png/{{d["tournament"]}}.png" style="width:100%" onclick="openModal();currentSlide({{loop.index}})" class="hover-shadow cursor">
        </div>
        {% endfor %}

        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                {% for d in res2 %}

                <div class="mySlides">
                    <div class="numbertext"> {{loop.index}} / {{ res2|length }}</div>
                    <img src="/static/png/{{d["tournament"]}}.png" style="width:100%">
                </div>
                {% endfor %}

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>
                {% for d in res2 %} 
                <div class="column">
                    <img class="demo cursor" src="/static/png/{{d["tournament"]}}.png" style="width:100%" onclick="currentSlide({{loop.index}})" alt="{{d["tournament"]}}">
                </div>
                {% endfor %}

            </div>
        </div>
</body>

<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

</html>